
*{
box-sizing: border-box;
}

html,body{
	width: 100vw;
	height:100%;
	font-size:1.1rem;
                font-family: 'Roboto Condensed', sans-serif;
                
                margin:0;
                padding:0;
               
            }
            
            main{
				padding:50px;
				width:100%;
				min-height:100%;
			}
			header{
				padding-right:10px;
			}
			  main{
            
				padding:0px;
				bakground:rgba(255,255,255,0.1);
				min-height:100%;
				background: linear-gradient(135deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.25) 100%);
                backdrop-filter: blur(10px);
                -webkit-bakdrop-filter: blur(10px);
                background-color: rgba(235,109,16,0.71);
			}
			  main::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: -1;
}
			nav.vhod{
				width:100%;
				height:40px;
				display:flex;
				align-items: center;
				justify-content: end;
				
				background: #cb6f6f;
				border-radius:5px;
				font-size:20px;
				font-weight:bold;
				color:rgb(6,9,8);
			}
			nav.vhod a{
				color:#ebee82;
			}
			nav.vhod div{
				margin-right:10px;
			}
			nav.vhod b, nav.vhod span{
				font-size:0.8rem;
				color:white;
				padding-right:1rem;
			}
			div.btns header{
				font-size:1.2rem;
				text-align: right;
				color:white;
				line-height:1.5;
			}
			div.btns{
				text-align:right;
				margin-top:15px;
				padding-right:15px;
			}
			button{
				color:#371463;
	font-size:1.3rem;
	font-weight:bold;
	padding-left:15px;
	padding-right:15px;
	padding-top:1rem;
	padding-bottom:1rem;
	mrgin-left:10px;
	mrgin-right:10px;
	mrgin-top:1rem;
	border-radius:10px;
	box-shadow: 4px 4px 14px 1px #272b30;
			}
			
h1,h2{
	font-size:1.5rem;
	padding-left:60px;
	margin-left:60px;
	line-height:1.6;
}
p{
width:60%;
	font-size:1.3rem;
	line-height:1.5;
	padding-left:60px;
	margin-left:60px;
}
footer{
	background: #cb6f6f;
	border-radius:5px;
	padding:20px;
	margin:20px;
}
footer div{
	margin-top:1rem;
	margin-bottom:1rem;
	font-size:1rem
}
@media screen and (max-width: 452px) and (orientation: portrait){
body{
	font-size:0.8rem;
}
nav.vhod b, nav.vhod span{
	padding-right:0.5rem;
}
	main{
		padding:0;
		margin:0;
	}
	h1,h2,p{
	font-size:0.9rem;
		margin:0;
		padding-left:10px;
		padding-right:10px;
		margin-left:5px;
		margin-right:5px;
		width:93%;
	}
	footer{
		margin:0;
	}
}
