*box-sizing{
	border-box;
}
html,body{
	width:100%;
}
 body {
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 12px;
                margin:0;
                padding:0;
            }
            main{
				padding:10px;
			}
			header.h{
				 background-image: url("/img/neu2.jpg");
				 background-repeat: no-repeat;
				  background-size: cover;  
				  background-position: center center; 
			}
            h1.a{
				text-align:center;
				line-height:2;
				padding:20px;
				margin:20px;
				font-size:8rem;
				color:orange;
			}
			h2{
				text-align:center;
				font-size:2.5rem;
			}
  article.slot{
				width:99.9%;
				height:98vh;
				border:1px solid #445d71;
				border-radius:10px;
			}
			footer#foot{
	ackground:violet;
	height:100px;
	width:100%;
	display:flex;
	aign-items: center;
				justify-content: space-between;
}
footer#pdf{
	ackground:blue;
	width:100%;
	height:100px;
	left:0;
	bottom:0;
	position:absolute;
	margin-bottom:-100px;
	display:flex;
}
footer input[type=button]{
	color:blue;
	font-size:2rem;
	font-weight:bold;
	padding-left:15px;
	padding-right:15px;
	mrgin-left:10px;
	mrgin-right:10px;
	border-radius:10px;
}
			section#hauptcontainer{
				width:100%;
				adding:20px;
				mrgin:0 auto;
				height:calc(100% - 100px);
				brder:1px solid black;
				display:grid;
				grid-template-columns: repeat(2, 1fr);
				position:relative;
				ackground:violet;
						}
						
						aside#slotinfo{
							ackground:green;
							
						}
						aside#boxinfo{
						position:relative;
							ackground:red;
							width:99.9%;
							height:100%;
							lign-self: flex-end;
							order:1px solid green;
						}
		#stagecontainer{
		position:relative;
							ackground:pink;
							display:flex;
							width:100%;
							height:100%;
							align-items: center;
				justify-content: center;
						}
		div#proem{
			width:100%;
			height:160px;
			position:absolute;
			background:rgba(0,0,0,0.5);
			left:0;
			right:0;
			border-radius:50%;
		}
						
            #stage {
                argin: 150px;
                display: flex;
				align-items: center;
				justify-content: center;
                -webkit-perspective: 600;
                isplay: inline-block;
                transform-style: preserve-3d;
            }

            .ring {
                loat: left;
                argin: 0 auto;
                height: 100px;
                width: 100px;
                transform-style: preserve-3d;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                padding: 15px;
            }

            .ring > :nth-child(odd) {
                background-color: #445d71;
            }

            .ring > :nth-child(even) {
                background-color: #406983;
            }

            .face {
                position: absolute;
                width: 100px;
                height: 100px;
                /*opacity: 0.7;*/
                color: #ffffff; /*rgba(0,0,0,0.9);*/
                border-radius: 10px;
                backface-visibility: hidden;
            }

            .face > p {
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 36px;
                font-weight: bold;
                text-align: center;
                margin-top: 28px;
            }

            .numberInput{
                dsplay: none;
            }
/*321 */
	@media screen and (max-width: calc(452px * 60)) and (orientation: portrait){
							html{
								ackground:black;
							}
							 h1.a{
								 font-size:4rem;
								 padding:1rem;
							 }
							article.slot{
								eight:100vh;
							}
							
							section#hauptcontainer{
							display:block;
							height:100%;
							ackground:black;
							}
							#stagecontainer{
								ackground:black;
							}
							aside#slotinfo{
							ackground:green;
							display:block;
							height:50%;
							width:100%;
							
						}
							aside#boxinfo{
							ackground:yellow;
							width:100%;
							height:calc(50% - 100px);
							margin-top:100px;
							}
				
						}

@media screen and (max-width: calc(334px * 60)) and (orientation: portrait){
	html{
		ackground: red;
	}
	#stage{
		width:80%;
	}
}
