 #remote-video{
			 margin-top:1rem;
    display:flex;
	justify-content: center;
	flex-wrap: wrap;
	}	
   video{
   box-shadow: 4px 4px 14px 1px #272b30;
   width:210px;
   height:200px;
   boder: 1px solid green;
   border-radius:10px;
   
   object-fit:cover;
}
.video-box{
	margin-top:5px;
	margin-bottom: 5px;
	box-shadow: 4px 4px 14px 1px #272b30;
	background:rgba(255,0,0,0.1);
	border-radius:10px;
	margin-right:2px;
	margin-left:2px;
}
.for-name{
	margin-left:10px;
	padding:10px;
}
.donbtn,.input-div{
	padding:10px;
	display:flex;
	align-items: center;
justify-content: end;

}
.for-privat{
	display:flex;
	align-items: center;
justify-content: center;
}
.trubka{
	font-size:1.2rem;
}
.stop-div{
	display:flex;
	align-items: center;
justify-content: center;
padding:10px;
}
.my-krestik{
	font-size:1.2rem;
}
