*box-sizing{
	border-box;
}
html,body{
	width: 100%;
	height:100%;
	font-size:1.1rem;
	margin:0;
	padding:0;
}
 body {
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 12px;
                margin:0;
                padding:0;
                background:#f19b9b;
            }
            main{
				padding:0px;
				
				min-height:100%;
			}
			nav.vhod{
				width:100%;
				height:40px;
				display:flex;
				align-items: center;
				justify-content: end;
				position:relative;
				background: #cb6f6f;
				border-radius:5px;
				font-size:20px;
				font-weight:bold;
				color:rgb(6,9,8);
			}
			nav.vhod a{
				color:#ebee82;
			}
			nav.vhod div{
				margin-right:10px;
			}
			nav.vhod b, nav.vhod span{
				font-size:0.8rem;
				color:white;
				padding-right:1rem;
			}
			#contentContainer{
				width:100%;
				height:calc(100vh - 40px);
				display:flex;
				align-items: center;
				justify-content:center;
				position:relative;
				bakground:yellow;
			}
			#contentContainer.wallet-flex{
			align-items:start;
				justify-content:start;
				
			}
#loginoutput.popi2{
display:block;
	width:25vw;
	boder:1px solid green;
	height:auto;
}
#settings{
		bakground:blue;
		width:40px;
		height:40px;
		color:brown;
	}
	#settingspanel{
	display: none;
	position:absolute;
	right:0px;
	top:40px;
	width:50vw;
	margin-right:8px;
	bckground:brown;
	z-index:1000;
	color:blue;
	
	
	height: 0;
	border-bottom-right-radius:10px 10px;
	border-bottom-left-radius: 10px 10px;
	ont-size:1.5rem;
	
}
#settingspanel.open{
	display:block;
	z-index:1000;
}
.settingspanel{
	width:calc(50vw - 12px);
	background:rgba(220,207,255,0.96);
	line-height:1.2;
	font-size:1.5rem;
	padding:10px;
	color:black;
	border-bottom:1px solid #dfb0b0;
	z-index:1000;
}
.settingspanel:hover{
background:rgb(255,255,255);
}
.setimg{
	width:70%;
	padding-top:6px;
}

#walletVidget{
	width:50%;
	background:green;
	font-size:1.1rem;
	line-height:1.5;
	color:white;
	margin:10px;
	border-radius:5px;
}
.coin-container{
	width:100%;
	height:40px;
	display: grid;
	grid-template-columns:45% 5% 25%;
	gap:2px;
	justfy-content: end;
	justify-items: end;
	align-items: center;
}
.coin-container.odd{
	background:#90afee;
}
.coin-container.even{
	background:#90afee;
}
.coff{
	padding-left:1px;
}
section > section{
	width:100%;
}

section form.f{
	wdth:100%;
	background:#eede82;
	padding:20px;
}
section form input[type=text]{
	width:98%;
	height:40px;
}
section form input[type=number]{
	height:40px;
	margin-top:3px;
}
section form button{
	height:40px;
	margin-top:3px;
	width:100%;
	font-weight:bold;
	font-size:1.1rem;
	height:40px;
	pdding:15px;
}
.setka{
	padding:20px;
	text-align:center;	
	}
	.setka.create{
		background:green;
	}
.setka.send{
	background:orange;
}
.setka.receive{
	background:#27653e;
}
.setka.copy{
	background:#4caf50;
}
.setka.adr{
	background:white;
	border:1px solid lightgreen;
	color:black;
	overflow-x: scroll;
}


@keyframes puls {
    from {
        background: green;
    }
    to {
        background: lightgreen;
    }
}

div.puls,form.puls{
	animation-name: puls;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 452px) and (orientation: portrait){
	#loginoutput.popi2{
		width:98%;
	}
	#settingspanel{
	width:100%;
}
.settingspanel{
width:100%;
}
#walletVidget{
	width:100%;
	}
	.modal-body{
		padding:20px;
		height:auto;
		border-bottom:2px solid green;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
	}
	.modal-body form{
		height:auto;
		
	}
	.setka{
		
	}
}
